* {
  font-family: "Baloo 2", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color:azure;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#buttons {
  padding-top: 2rem;
  display: flex;
}

#buttons button {
  background-color: transparent;
  border: 1px solid black;
  padding: .45rem .65rem;
}

#buttons button:first-child {
  border-radius: 5px 0 0 5px;
  border-right-width: 0;
}

#buttons button:last-child {
  border-radius: 0 5px 5px 0;
  border-left-width: 0;
}

#buttons button.selected {
  background-color: tomato;
  color: whitesmoke;
  font-weight: bold;
}

#speed {
  height: 85vh;
  color: rgb(76, 120, 202);
  font-size: 8em;
}