* {
  font-family: "Baloo 2", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color:azure;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#buttons {
  padding: 2rem 0;
}

#buttons button {
  background-color: transparent;
  font-size: .65rem;
  color: azure;
  border: 1px solid black;
  padding: .5rem;
  border-radius: 50%;
  transition: all .45s ease;
}

#buttons button:nth-child(2) {
  margin: 0 .75rem;
}

#buttons button.selected {
  background-color: tomato;
  font-size: 1rem;
  font-weight: bold;
}

#buttons button:not(.selected) {
  background-color: rgba(0, 0, 0, 0.1);
}

#speed {
  height: 85vh;
  color: rgb(76, 120, 202);
  font-size: 8em;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #303333;
  }

  #buttons button {
    color: azure;
    border-color: azure;
  }

  #buttons button:not(.selected) {
    background-color: rgba(240, 255, 255, 0.1);
  }
}